<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bytecurry.fibscrum"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FibScroller"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextDisplay"
            android:label="@string/title_activity_display"
            android:parentActivityName=".FibScroller"
            android:theme="@style/Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bytecurry.fibscrum.FibScroller" />
        </activity>
        <activity
            android:name=".ImageDisplay"
            android:label="@string/title_activity_image_display"
            android:parentActivityName=".FibScroller"
            android:theme="@style/Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bytecurry.fibscrum.FibScroller" />
        </activity>
    </application>

</manifest>
